* {
  margin: 0;
}

/* Main Containers */

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  height: 100vh;
}

.header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-column: 2 / 3;
  padding: 20px 30px;
  background-color: orange;
}

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  background-color: palegreen;
  grid-column: 1;
  grid-row: 1 / 5;
  gap: 50px;
  align-content: start;
  padding-left: 20px;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* TODO: is this needed? */
  grid-template-rows: repeat(4, 1fr);
  background-color: lightseagreen;
  grid-column: 2 / 3;
  grid-row: 2 / 5;
}

/* Header Section */

.search-bar {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 12fr;
}

.user-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  justify-self: end;
  gap: 3px;
}

.user-profile {
  display: grid;
  /* Adjust based on size of asset */
  grid-template-columns: 80px 1fr;
  grid-template-rows: 2;
  align-content: center;
}

.user-profile-icon {
  align-content: start;
}

.user-actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  justify-self: end;
  gap: 30px;
}

.search-box {
  border: 3px solid lightblue;
}

/* Side Bar Section */

.sidebar-dashboard {
  background-color: purple;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}

.sidebar-nav {
  background-color: aqua;
  display: grid;
  grid-template-columns: 1;
  align-content: start;
  gap: 30px;
}

.sidebar-settings {
  background-color: cadetblue;
  display: grid;
  grid-template-columns: 1;
  align-content: start;
  gap: 30px;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

/* Content Section */

.projects {
  grid-column: 1;
  grid-row: 1 / 5;
  background-color: blueviolet;
}

.announcements {
  /* TODO: display flex */
  grid-column: 2;
  grid-row: 1 / 3;
  background-color: tomato;
}

.trending {
  /* TODO: display flex */
  grid-column: 2;
  grid-row: 3 / 5;
  background-color: darkgreen;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 300px;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-left: 8px solid blue;
  border-radius: 4px;
  margin: 10px;
}

.sub-card {
}

.sub-section {
}
